.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.background-container {
  background-image: url("assets/desktop-wallpaper-what-makes-a-human-resource-management-system-unique-human-resources.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

.log-timeline {
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px 0;
}

.log-timeline-dot {
  width: 12px;
  height: 12px;
  background-color: #2196f3;
  border-radius: 50%;
  position: relative;
  z-index: 2;
}

.log-timeline-line {
  position: absolute;
  top: 50%;
  left: 6px; /* Adjust this value based on dot width */
  right: 6px; /* Adjust this value based on dot width */
  height: 2px;
  background-color: #ccc;
  z-index: 1;
}
